<?xml version="1.0" encoding="utf-8"?><!--
  Copyright 2013 Google, Inc

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepaksharma.webaddicted"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/drive"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Final.create.CreateDirectory"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name=".receiver.CallReceiver"
            android:enabled="true">
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.PHONE_STATE"></action>
            </intent-filter>
        </receiver>

        <service
            android:name=".ui.events.MyDriveEventService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.drive.events.HANDLE_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity" />
        <activity android:name=".ui.folder.HomeActivity" />
        <activity android:name=".ui.folder.QueryFilesActivity" />
        <activity android:name=".ui.folder.RetrieveContentsActivity" />
        <activity android:name=".ui.folder.RetrieveContentsWithProgressDialogActivity" />
        <activity android:name=".ui.folder.CreateFileActivity" />
        <activity android:name=".ui.folder.CreateEmptyFileActivity" />
        <activity android:name=".ui.folder.CreateFileInAppFolderActivity" />
        <activity android:name=".ui.folder.CreateFolderActivity" />
        <activity android:name=".ui.folder.DeleteFileActivity" />
        <activity android:name=".ui.folder.AppendContentsActivity" />
        <activity android:name=".ui.folder.RewriteContentsActivity" />
        <activity android:name=".ui.folder.EditMetadataActivity" />
        <activity android:name=".ui.folder.CreateFileWithCreatorActivity" />
        <activity android:name=".ui.folder.RetrieveMetadataActivity" />
        <activity android:name=".ui.folder.CreateFileInFolderActivity" />
        <activity android:name=".ui.folder.CreateFolderInFolderActivity" />
        <activity android:name=".ui.folder.QueryFilesInFolderActivity" />
        <activity android:name=".ui.folder.PinFileActivity" />
        <activity android:name=".ui.events.ListenChangeEventsForFilesActivity" />
        <activity android:name=".ui.events.SubscribeChangeEventsForFilesActivity" />
        <activity android:name=".ui.folder.QueryNonTextFilesActivity" />
        <activity android:name=".ui.folder.QueryFilesSharedWithMeActivity" />
        <activity android:name=".ui.folder.QueryFilesWithTitleActivity" />
        <activity android:name=".ui.folder.QueryStarredTextFilesActivity" />
        <activity android:name=".ui.folder.QueryTextOrHtmlFilesActivity" />
        <activity android:name=".ui.folder.InsertUpdateCustomPropertyActivity" />
        <activity android:name=".ui.folder.QueryFilesWithCustomPropertyActivity" />
        <activity android:name=".ui.folder.DeleteCustomPropertyActivity" />
        <activity android:name=".ui.folder.QuerySortedFilesActivity" />
        <activity android:name=".ui.hidden.HiddenActivity"></activity>
    </application>

</manifest>